/* your styles go here */

.fs-32
{
    font-size: 32px !important;
}
h1
{
    font-size: 50px !important;
}
.image-container
{
    position: relative;
}
.image-container img
{
    display: block;
    width: 100%;
}
/* to Center the .btn class inside image Container */
.image-container .btn
{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.image-container :hover
{
    opacity: 50%;
}


.bold
{
    font-weight: bold !important;
}
.div_deg
{
    padding-top: 30px;
}
.div_center
{
    text-align: center;
    padding: 40px;
}
.div_center label
{
    display: inline-block;
    width: 200px;
}
.table-container
{
    overflow: auto;
    max-width: 100%;
}
.table_deg
{
    border: 2px solid white;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    overflow: scroll;
}
.table_deg th
{
    background-color: aqua;
    padding: 10px;
}
.table_deg tr
{
    border: 3px solid white;
}

.table_deg td
{
    padding: 10px;
    width: auto;
}

.table_deg tr:nth-child(odd)
{
    background-color:#635b5b;
    color: black;
}
.table_deg tr:nth-child(even)
{
    background-color:#1b1a1a;
    color: whitesmoke;
}

.align-center
{
    margin: auto;
    width: 100px;
}
